.sect-1,
.sect-2,
.sect-3,
footer {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

body {
    padding-bottom: 35px;
    min-width: 750px;
    align-self: center;
    background-color: black
}

.sect-1 {
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1;
    padding-left: 75px;
    padding-right: 75px;
    max-height: 250px;

}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.logo {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 15px;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

.sect-1-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding-right: 60px;
    padding-left: 60px;
    justify-content: center;
}

.sect-1-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
    margin: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: smaller;
}



.sect-1-button {
    display: flex;
    width: 75px;
    background-color: rgb(60, 60, 248);
    color: white;
    border-radius: 8px;
    justify-content: center;
    border-color: rgb(60, 60, 248);
    margin-top: 5px;
}

img {
    width: 225px;
    height: 125px;
    flex: 1;
    padding-right: 0px;
}

.sect-2{
    background-color: rgb(226, 224, 224);
}

.sect-3{
    background-color: rgb(100, 99, 99); 
}

footer {
    background-color: rgb(226, 224, 224);
}