body {
    display: flex;
    flex-direction:column;
}

.sect-1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 94);
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-but {
    display: flex;
    list-style: none;
    justify-content: right;
}

.sect-2 {
    display: flex;
    background-color: rgb(226, 224, 224);
}

.sect-3{
    display: flex;
    background-color: rgb(100, 99, 99); 
}

.sect-4 {
    display: flex;
    background-color: rgb(226, 224, 224);
}