.sect-1,
.sect-2,
.sect-3,
.sect-4 {
    display: flex;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

#picture-1 {
    width: 500px;
} 

body {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    justify-content: center;
    min-width: 750px;
    align-self: center;
    background-color: black
}

.sect-1 {
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1;
    padding-left: 75px;
    padding-right: 75px;
    max-height: 250px;

}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.logo {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 15px;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

.sect-1-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-between;
}

.sect-1-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
    margin: 0px;
    max-width: 200px;
    flex-wrap: wrap;
}

.sect-1-img {
    display: flex;
}

h3 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: smaller;
}

.sect-1-button {
    display: flex;
    width: 75px;
    background-color: rgb(60, 60, 248);
    color: white;
    border-radius: 8px;
    justify-content: center;
    border-color: rgb(60, 60, 248);
    margin-top: 5px;
}

/*this is for the figcaptions on all imgs*/
figure {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    justify-content: center;
    max-width: 60px;
    padding-right: 0px;
    
    
}

.sect-2{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
}

.sect-2-header {
    display: flex;
    justify-content: center;
    max-height: 25px;
    margin: 15px;
    padding-top: 0px;
}

.sect-2-imgs {
    display: flex;
    flex-direction: row;
    border: rgb(68, 68, 243);
    align-self: center;
    justify-content: center;
    gap: 25px;
}
/*this is setting sizes for all imgs*/
img {
    max-height: 80px;
    width: auto;
}

.sect-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: rgba(0, 0, 0, 0.658);
    background-color: #E5E7EB; 
}

.quote-name {
    display: flex;
    color: black;
    padding-left: 250px;
}

.sect-4 {
    display: flex;
    justify-content: center;
    background-color: white;
}

.sect-4-body {
    display: flex;
    align-self: center;
    justify-content: space-around;
    color: white;
    border-radius: 5px;
    background-color: #3882F6; 
    max-height: 75px;
    width: 500px;
    padding: 0px;
    margin: 0px;

}

.sect-4-text {
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-bottom: 25px;
}

h5 {
    margin-bottom: 0px;
}

.sect-4-button {
    height: 30px;
    width: 100px;
    align-items: center;
    align-self: center;
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: white;

}

footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center;
}